{% extends "pay/base.html" %}
{% load staticfiles %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'paypal.form' %}">
              PayPal
            </a>
          </li>
          <li>
            <a href="{% url 'stripe.form' %}">
              Stripe
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
