{% extends 'pay/base.html' %}
{% load static %}

{% block title %}
  Delete Installment from the Payment Plan
{% endblock title %}

{% block sub_heading %}
  Delete Installment from the Payment Plan
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>
        Click 'Delete' to remove this installment from the payment plan:
      </h4>
      <p>
        {{ object.payment_plan_header.slug }}:
        {{ object.payment_plan_header.name }}
      </p>
      <p>
        <strong>
          {{ object.value }}
        </strong>
        after
        <strong>
          {{ object.days_after }}
        </strong>
        days.
      </p>
      {% include '_form.html' with submit='Delete' %}
    </div>
  </div>
{% endblock content %}
