{% extends 'pay/base.html' %}
{% load static %}

{% block title %}
  {% if audit %}
    Payment Audit
  {% else %}
    Payments
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  {% if audit %}
    Payment Audit
  {% else %}
    Payments
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  {% include 'pay/_pay_menu.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'base/_paginate.html' %}
      {% include 'pay/_payment_list.html' %}
      {% include 'base/_paginate.html' %}
    </div>
  </div>
{% endblock content %}
