{% extends 'pay/base.html' %}
{% load static %}

{% block title %}
  Payment Plans
{% endblock title %}

{% block sub_heading %}
  Payment Plans
{% endblock sub_heading %}

{% block content %}
  {% include 'pay/_pay_menu.html' %}
  {% if is_paginated %}
    <div class="pure-g">
      <div class="pure-u-1">
        {% include 'base/_paginate.html' %}
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    {% for paymentplan in paymentplan_list %}
      {% include 'pay/_paymentplan.html' %}
    {% endfor %}
  </div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'pay.plan.create' %}" class="pure-menu-link">
          <i class="fa fa-plus"></i>
          Create a new payment plan...
        </a>
      </li>
    </ul>
  </div>
{% endblock content %}
